<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RESTAURANT DETAILS:</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style type=text/css>
        h2 {
            background-color: #696969;
            margin: 10px;
        }
        div {
            color: white;
            background-color: #C0C0C0;
            margin: 2px;
            font-size: 25px;
        }
        body {
            background-color: Azure;
            text-align: center;
        }


</style>
<body>
<div class="container">
    <br>
    <a class="btn btn-success btn-lg" th:href="@{/streets}">Streets list</a>
    <a class="btn btn-primary btn-lg" th:href="@{/restaurants}">Restaurants list</a>
    <a class="btn btn-info btn-lg" th:href="@{/customers}">Customers list</a>
    <a class="btn btn-secondary btn-lg" th:href="@{/orders}">Orders list</a>
    <a class="btn btn-warning btn-lg" th:href="@{/}">Back to home</a>
    <a class="btn btn-dark btn-lg" th:href="@{/logout}">Logout</a>
    <br>

</div>

<h1>Enter Address Details</h1>

<form action="#" th:action="@{/submit-address}" th:method="POST" th:object="${addressDTO}">

        <div class="form-group">
            Country: <input type="text" th:field="*{country}" required/><br>
            City: <input type="text" th:field="*{city}" required/><br>
            Street: <input type="text" th:field="*{street}" required/><br>
            Build no.: <input type="text" th:field="*{buildingNumber}" required/><br>
        </div>

    <div class="form-group">
        <input type="submit" value="Next" name="button"/>
    </div>
</form>


<!--<h2>Place your delivery address:</h2>-->
<!--<form action="/address-form" method="post" th:object="${orderDataDTO}">-->
<!--    <div class="form-group">-->

<!--        Address country: <input type="text" th:field="*{country}"/><br>-->
<!--        Address city: <input type="text" th:field="*{city}"/><br>-->
<!--        Address street: <input type="text" th:field="*{street}"/><br>-->
<!--        Address build no.: <input type="text" th:field="*{buildingNumber}"/><br>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="submit" value="Place order" name="button"/>-->
<!--    </div>-->

<!--</form>-->


<footer th:fragment="footer" class="text-center">&copy; 2023 FoodOrder</footer>
</body>
</html>
