<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


<!--    <div class="pagination justify-content-center">-->
<!--        <a th:if="${menuItemsPage.hasPrevious}" th:href="@{'/restaurants/owner/' + ${restaurant.name}(sortField=${sortField}, sortDirection=${sortDirection}, page=${menuItemsPage.number - 1})}">Previous</a>-->
<!--        <span th:if="${!menuItemsPage.hasPrevious}">Previous</span>-->

<!--        <span th:text="${menuItemsPage.number + 1}"></span>-->

<!--        <a th:if="${menuItemsPage.hasNext}" th:href="@{'/restaurants/owner/' + ${restaurant.name}(sortField=${sortField}, sortDirection=${sortDirection}, page=${menuItemsPage.number + 1})}">Next</a>-->
<!--        <span th:if="${!menuItemsPage.hasNext}">Next</span>-->
<!--    </div>-->