<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Menu</title>
</head>
<body>
<h1>Menu</h1>

<form th:action="@{/order}" method="post" th:object="${menuItemOrderDTOs}">
  <table>
    <tr th:each="menuItemOrderDTO, itemStatus : ${menuItemOrderDTOs}">
      <td th:text="${menuItemOrderDTO.menuItem.name}"></td>
      <td th:text="${menuItemOrderDTO.menuItem.price}"></td>
      <td>
        <input type="number" th:field="*{[__${itemStatus.index}__].quantity}" min="0" />
        <!-- Ukryte pole dla przekazania ID -->
        <input type="hidden" th:field="*{[__${itemStatus.index}__].menuItem.id}" th:value="${menuItemOrderDTO.menuItem.id}" />
      </td>
    </tr>
  </table>
  <button type="submit">Zamów</button>
</form>
</body>
</html>