<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista zamówień</title>
</head>
<body>
<h1>Lista zamówień</h1>
<table>
  <tr>
    <th>Data otrzymania zamówienia</th>
    <th>Status</th>
    <th>Anuluj zamówienie</th>
  </tr>
  <tr th:each="order, index : ${orders}">
    <td th:text="${order.receivedDateTime}">Received Date</td>
    <td th:text="${order.cancelled} ? 'Anulowane' : 'Aktywne'">Status</td>
    <td th:if="${!order.cancelled}" th:unless="${#dates.createNow().isAfter(order.receivedDateTime.plusSeconds(1200))}">
      <form th:action="@{/orders/cancel/{index}(index=${index})}" method="post">
        <button type="submit">Anuluj</button>
      </form>
    </td>
    <td th:unless="${!order.cancelled}">
      <span>Możliwość anulowania wygasła</span>
    </td>
  </tr>
</table>
</body>
</html>